@model WebApplication1.Models.Item
@{
    ViewData["Title"] = "Item - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Item Details</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
    <p>@Html.DisplayNameFor(model => model.CategoryId) : @Html.DisplayFor(model => model.CategoryId)</p>

    <p>@Html.ActionLink("Back to list", "Index")
       @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId })   
    </p>
</body>
</html>
