@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplication1.Models.Item

<html>
<head>
    <title>To Do List - Edit</title>
</head>
<body>
    <h2>Edit</h2>
    <hr />
    <h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ItemId)

        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)

        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>

</body>
</html>