@{
    ViewData["Title"] = "item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<WebApplication1.Models.Item>


<h2>To Do List</h2>
<hr />
<table class="table">
    <tr>
        <th>
            <h4>@Html.DisplayNameFor(model => model.Description)</h4>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
    </tr>
    @foreach (var listItem in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => listItem.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => listItem.Category.Name)
        </td>
        <td>
                @Html.ActionLink("Details", "Details", new { id = listItem.ItemId }) | 
                @Html.ActionLink("Edit", "Edit", new { id = listItem.ItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listItem.ItemId })
            
        </td>
    </tr>
    }
</table>
<p>@Html.ActionLink("Add new item", "Create")</p>