@{
    ViewData["Title"] = "item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<WebApplication1.Models.itemcategories>


<h2>To Do List</h2>
<hr />
<table class="table">
    <tr>
        <th>
            <h4>Task</h4>
        </th>
        <th>
           Categories
        </th>
    </tr>
    @foreach (var listItem in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => listItem.Item.Description)
        </td>
        <td>


      @foreach (var category in listItem.Item.itemcategories)
      {

            @Html.DisplayFor(modelitem => category.Category.Name)
        }
        </td>
        <td>
                @Html.ActionLink("Details", "Details", new { id = listItem.ItemId }) | 
                @Html.ActionLink("Edit", "Edit", new { id = listItem.ItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listItem.ItemId })
            
        </td>
    </tr>
    }
</table>
<p>@Html.ActionLink("Add new item", "Create")</p>